<!DOCTYPE html>
<html lang="en-gb">

{% include head.html %}

<body>
    
    {% include navigation.html %}

    <div class="jumbotron bgpattern">
        <div class="container">
            <h1 class="name-big">Dominik Schörkhuber</h1>
            
            <center>
                <img class="card-img-top img-responsive img-circle" style="border-radius: 50%; width: 200px"  src="img/avatar.jpg" />
                <br>
                <br>
                <p>Software Engineer. Computer Vision. Machine Learning.</p>            
                <p><a class="btn btn-primary btn-lg" href="#" role="button">About me</a></p>
            </center>
        </div>
    </div>

    {% include blog.html %}

    {% include introduction.html %}

    

    <div class="jumbotron bgpattern">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>About me</h1>
                    <p>
                        Hi, my name is Dominik, I am a computer scientist for 
                        My interests and expertise is mainly in the field of Computer Vision.   

                        Don't hesitate to contact me. I am always looking for new chances.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="img/avatar.jpg" />
                </div>
            </div>
        </div>
    </div>
    
    <div class="jumbotron bgpattern">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Skills</h1>
                    <p>
                        <span>C++</span>
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>Javascript</span>
                        <span>Java</span>
                        <span>C#</span>
                        <span>Python</span>
                        <span>Bash</span>
                        <span>D</span>
                        <span>Matlab</span>
                                                
                        <span>Github, Gitlab</span>
                        <span></span>
                        
                        Hi, my name is Dominik, I am a computer scientist for 
                        My interests and expertise is mainly in the field of Computer Vision.   

                        Don't hesitate to contact me. I am always looking for new chances.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="img/avatar.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <footer>
            <p>&copy; Dominik Schörkhuber 2016</p>
        </footer>
    </div>

    {% include scripts.html %}
</body>
</html>
